*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.justify-content-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.justify-content-spacebetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-items-center{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.white{
  color: white;
}

// header
ul{
  height: 100%;
  list-style-type: none;
  a{
    text-decoration: none;
  }
}

//nav-up
.nav-up{
 height: 30px;
 background-color:blue;
 padding-right: 100px;
 .padding{
   padding-right: 50px;
 }
 .select-nav-up{
   background-color:blue;
   border: none;
 }
}



//nav-down
.nav-down{
  height: 100px;
  padding: 20px 100px;
  .logo{
    width: 60px;
  }
  .select-nav-down{
    border: none;
  }
  input{
    border: none;
    border-bottom: 2px solid blue;
  }
}

//main
.jumbotron{
  height: 300px;
  background-image: url('/storage/assets/jumbotron.jpg');
  background-size: cover;
}

//sectionfilm
.container-film{
  height: 500px;
  background-color: lightgrey;
}

//section-buy
.buy{
  height: 100px;
  background-color: blue;
  padding: 0px 100px;
  .img-info{
    width: 40px;
  }
}




//footer
.footer-up{
  height: 300px;
  background-color: red;

}
