* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.justify-content-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.blue {
  color: lightblue;
}

ul {
  height: 100%;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-up {
  height: 30px;
  background-color: blue;
  padding-right: 100px;
}

.nav-up .padding {
  padding-right: 50px;
}

.nav-up .select-nav-up {
  background-color: blue;
  border: none;
}

.nav-down {
  height: 100px;
  padding: 20px 100px;
}

.nav-down .logo {
  width: 60px;
}

.nav-down .select-nav-down {
  border: none;
}

.nav-down input {
  border: none;
  border-bottom: 2px solid blue;
}

.jumbotron {
  height: 300px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-size: cover;
}

.container-film {
  min-height: 500px;
  background-color: black;
  padding: 40px 100px;
  position: relative;
}

.container-film .current-series {
  height: 50px;
  width: 200px;
  background-color: blue;
  margin-left: 10px;
  position: absolute;
  top: -3.5%;
}

.container-film .box {
  height: 220px;
  width: 160px;
  padding: 10px;
  margin-bottom: 20px;
}

.container-film .box .box-img {
  height: 170px;
  width: 100%;
}

.container-film .box .box-img img {
  width: 100%;
  height: 100%;
}

.container-film .box .box-title {
  min-height: 50px;
  width: 100%;
  padding-top: 5px;
}

.button {
  width: 15%;
  padding: 10px 20px;
  background-color: blue;
  margin-top: 30px;
  text-align: center;
}

.buy {
  height: 100px;
  background-color: blue;
  padding: 0px 100px;
}

.buy .img-info {
  width: 30px;
  margin-right: 10px;
  margin-left: 40px;
}

.buy .font-size {
  font-size: 12px;
}

.footer-up {
  height: 400px;
  background-color: black;
  background-image: url("/storage/assets/footer-bg.jpg");
  padding: 0 100px;
}

.footer-up .box-listato {
  height: 100%;
  width: 60%;
  padding-bottom: 60px;
}

.footer-up .box-listato .list {
  height: 90%;
  width: 100%;
}

.footer-up .box-listato .list .padding-list {
  padding-right: 50px;
}

.footer-up .box-listato .list .padding {
  padding: 20px 0 10px;
}

.footer-up .box-listato .paragraph {
  height: 10%;
  width: 100%;
}

.footer-up .box-img {
  height: 100%;
  width: 40%;
}

.footer-up .box-img img {
  width: 100%;
  height: 100%;
}

.footer-down {
  height: 80px;
  width: 100%;
  background-color: red;
}

