* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.justify-content-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.lightblue {
  color: lightblue;
}

.blue {
  color: blue;
}

ul {
  height: 100%;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-up {
  height: 30px;
  background-color: blue;
  padding-right: 100px;
}

.nav-up .padding-nav-up {
  padding-right: 50px;
}

.nav-up .padding-nav-up .far {
  font-size: 10px;
  vertical-align: top;
}

.nav-up .select-nav-up {
  background-color: blue;
  border: none;
}

.nav-down {
  height: 100px;
  padding: 20px 100px;
}

.nav-down .logo {
  width: 60px;
}

.nav-down .select-nav-down {
  border: none;
}

.nav-down .input-search {
  position: relative;
  width: 180px;
}

.nav-down .input-search input {
  border: none;
  border-bottom: 2px solid blue;
}

.nav-down .input-search .fa-search {
  position: absolute;
  right: 25px;
}

.jumbotron {
  height: 300px;
  background-image: url("/storage/assets/jumbotron.jpg");
  background-size: cover;
}

.container-film {
  min-height: 500px;
  background-color: black;
  padding: 40px 100px;
  position: relative;
}

.container-film .current-series {
  height: 50px;
  width: 200px;
  background-color: blue;
  margin-left: 10px;
  position: absolute;
  top: -3.5%;
}

.container-film .box {
  height: 220px;
  width: 160px;
  padding: 10px;
  margin-bottom: 20px;
}

.container-film .box .box-img {
  height: 170px;
  width: 100%;
}

.container-film .box .box-img img {
  width: 100%;
  height: 100%;
}

.container-film .box .box-title {
  min-height: 50px;
  width: 100%;
  padding-top: 5px;
}

.button {
  width: 15%;
  padding: 10px 20px;
  background-color: blue;
  margin-top: 30px;
  text-align: center;
}

.buy {
  height: 100px;
  background-color: blue;
  padding: 0px 100px;
}

.buy .img-info {
  width: 30px;
  margin-right: 10px;
  margin-left: 40px;
}

.buy .font-size {
  font-size: 12px;
}

.footer-up {
  height: 400px;
  background-color: black;
  background-image: url("/storage/assets/footer-bg.jpg");
  padding: 0 100px;
}

.footer-up .box-listato {
  height: 100%;
  width: 60%;
  padding-bottom: 60px;
}

.footer-up .box-listato .list {
  height: 90%;
  width: 100%;
}

.footer-up .box-listato .list .padding-list {
  padding-right: 50px;
}

.footer-up .box-listato .list .padding {
  padding: 20px 0 10px;
}

.footer-up .box-listato .paragraph {
  height: 10%;
  width: 100%;
}

.footer-up .box-img {
  height: 100%;
  width: 40%;
}

.footer-up .box-img img {
  width: 100%;
  height: 100%;
}

.footer-down {
  height: 80px;
  width: 100%;
  background-color: black;
  padding: 0 100px;
}

.footer-down .border {
  padding: 10px;
  border: 2px solid blue;
}

.footer-down .flex-center .padding-follow {
  padding-right: 20px;
}

.under-jumbo {
  height: 60px;
  background-color: blue;
  position: relative;
  padding-left: 160px;
}

.under-jumbo .card-fumetto {
  height: 220px;
  width: 150px;
  background-color: red;
  position: absolute;
  bottom: 20px;
}

.under-jumbo .card-fumetto img {
  width: 100%;
}

.container-box-fumetti {
  min-height: 150px;
  padding: 80px 160px;
}

.container-box-fumetti .box-fumetti {
  min-height: 280px;
  width: 600px;
  margin-right: 40px;
}

.container-box-fumetti .box-fumetti .price {
  height: 30px;
  width: 70%;
  background-color: green;
  padding: 0 30px;
  margin: 20px 0;
}

.container-box-fumetti .box-fumetti .check {
  height: 30px;
  width: 30%;
  background-color: green;
  border-left: 1px solid black;
  margin: 20px 0;
}

.container-box-fumetti .box-fumetti-img {
  height: 200px;
  width: 230px;
  background-color: green;
}

.container-box-fumetti .box-fumetti-img img {
  width: 100%;
  height: 100%;
}

.container-talent {
  height: 350px;
  background: lightgrey;
  padding: 40px 160px;
}

.container-talent .box-talent {
  height: 100%;
  width: 50%;
  background-color: red;
}

.container-talent .box-talent .box-art {
  min-height: 60px;
  width: 100%;
  background-color: yellow;
  border-top: 1px solid grey;
}

.container-talent .box-talent .written {
  height: 60px;
  width: 100%;
  background-color: yellow;
}

.container-talent .box-specs {
  height: 100%;
  width: 50%;
  background-color: green;
}

.container-talent .box-specs .box-series {
  min-height: 40px;
  width: 100%;
  background-color: yellow;
  border-top: 1px solid grey;
}

.title {
  margin-bottom: 30px;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

